@font-face {
  font-family: 'Helvetica Neue';
  src: url('{% static "fonts/HelveticaNeueRoman.otf" %}') format('opentype');
  font-weight: 400;
  font-style: normal;
  color: #4f3c1f;
}


/* STANDARD */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica', Arial, sans-serif;
  color: #4f3c1f;
}

body {
  display: flex;
  min-height: 100vh;
  /* background-color: # F8F9FA; */
  background-color: #fbf9f6; 
}

h1 {
  font-size: 1.1em;
  font-weight: 700;
  /* padding-top: 5px; */
}

h2 {
  font-size: 0.9em;
  font-weight: 600;
}

h3 {
  font-size: 0.8em;
  font-weight: 600;
  color: #997a63;
  padding-bottom: 5px;
}

p {
  font-size: 0.8em;
  line-height: 1.8em;
}


/* LANDING PAGE */
.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  padding: 20px;
}

.landing-content {
  max-width: 500px;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.landing-content h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333333;
}

.landing-content p {
  font-size: 1.2em;
  line-height: 1.6em;
  margin-bottom: 30px;
  color: #666666;
}

.landing-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.landing-buttons .button {
  background-color: #007bff;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.landing-buttons .button:hover {
  background-color: #0056b3;
}

.landing-buttons .button-guest {
  background-color: #6c757d;
}

.landing-buttons .button-guest:hover {
  background-color: #5a6268;
}


/* SIDEBAR */
.logo {
  margin: 20px;
  font-weight: 700;
  text-align: center;
  /* color: # 4f3c1f; */
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  /* color: # 4f3c1f; */
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, #fbf9f6, #997a63, #fbf9f6);
}

.sidebar {
  min-width: 250px;
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar a {
  text-decoration: none;
  color: #997a63;
  font-weight: 600;
  font-size: 0.8em;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  display: block;
}

.sidebar .current-page,
.sidebar .current-page:hover {
  background-color: #ffffff; 
  color: #4f3c1f;
  box-shadow: 0 2px 6px rgba(180, 180, 180, 0.1);
}

.sidebar a:hover {
  color: #4f3c1f;
  /* background-color: #e2e2e2;  */
  background-color: #f5f0eb; 
}

.sidebar .help {
  color: white;
  background-color: #5a7d5a;
  font-size: 0.8em;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.sidebar .footer {
  color: #997a63;
  font-size: 0.4em;
  text-align: center;
}

.sidebar .fas {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 25%;
  color: #5a7d5a;
  margin-right: 10px;
  box-shadow: 0 2px 6px rgba(180, 180, 180, 0.1);
}

.sidebar .current-page .fas {
  padding: 10px;
  background-color: #5a7d5a;
  border-radius: 25%;
  color: #ffffff;
  margin-right: 10px;
  box-shadow: 0 2px 6px rgba(180, 180, 180, 0.1);
}

/* Dropdown styles */
.dropdown-content {
  display: none;
  padding-left: 20px;
}

.dropdown.active .dropdown-content {
  display: block;
}

/* Chevron rotation */
.fa-chevron-right, .fa-chevron-down {
  transition: transform 0.3s ease;
  background-color: transparent !important; 
}

.dropdown.active .fa-chevron-right {
  transform: rotate(90deg);
}


/* MAIN CONTENT */
.main-content {
  flex: 1;
  padding: 20px;
  padding-top: 70px;
}

.main-content .stats-container {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 30px; */
}

.main-content .stats-container .stats {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  flex: 1;
}

.main-content .stats-container .stat-card {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(153, 153, 153, 0.1);
  width: 150px;
  text-align: left;
  flex: 1;
}

.main-content .stats-container .stat-values {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content .stats-container .fas {
  padding: 12px;
  background-color: #5a7d5a;
  border-radius: 25%;
  color: #ffffff;
  box-shadow: 0 2px 6px rgba(180, 180, 180, 0.1);
}

.main-content .actions button {
  margin: 20px 0 20px 0;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between items as needed */
  margin-top: 20px; /* Add some space above the new container */
}

.info-card {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(153, 153, 153, 0.1);
  width: calc(50% - 10px); /* Adjust the width of each card to be 50% minus the gap */
  text-align: left;
  flex: 1;
}

.info-card .stat-values {
  display: flex;
  flex-direction: column;
  /* justify-content:space-around; */
}

.info-card .fas {
  padding: 12px;
  background-color: #5a7d5a;
  border-radius: 25%;
  color: #ffffff;
  box-shadow: 0 2px 6px rgba(180, 180, 180, 0.1);
}

.resized-image {
  max-width: 100%; 
  height: auto; 
  max-height: 80px; 
  padding-left: 10px;
  padding-right: 10px;
}


/* TABLE */
.sites-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  font-size: 14px;
  /* margin: 10px 0 10px 0; */
  box-shadow: 0 2px 6px rgba(180, 180, 180, 0.1);
}

.sites-table th,
.sites-table td {
  padding: 12px 15px;
  text-align: left;
}

.sites-table tbody tr {
  border-bottom: 1px solid #f5f0eb;
}

.sites-table tbody tr:nth-child(odd) {
  background-color: #fbf9f6;
}

.sites-table tbody tr:hover {
  background-color: #f5f0eb;
}


/* Action buttons */
.main-content button {
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  background-color: #5a7d5a;
  color: #ffffff;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 5px;
  box-shadow: 0 2px 6px rgba(180, 180, 180, 0.1);
}

.main-content button:hover {
  background-color: #426b42;
}


/* Form */
.form-container {
  display: none;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(180, 180, 180, 0.1);
  margin-bottom: 20px;
  padding: 10px 10px;
  width: 100%;
}

.form-content {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.form-group label {
  display: block;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 600;
}

.form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  font-size: 14px;
  color: #4f3c1f;
  background-color: #fbf9f6;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.form-input:focus {
  outline: none;
  border-color: #5a7d5a;
  background-color: #ffffff;
}

.form-buttons {
  display: flex;
  margin-top: 10px;
} 




/* #addSiteForm {
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  /* display: block; */
  /* font-size: 14px; */
  /* margin-left: 15px; */


/* .main-content .close {
  margin-right: 15px;
  cursor: pointer;
} */





/* Status indicator styles
.sites-table .fulfilled {
  color: white;
  background-color: #28a745;
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.sites-table .confirmed {
  color: white;
  background-color: #007bff;
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.sites-table .partially-shipped {
  color: white;
  background-color: #ffc107;
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
} */