{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>
<body>

    <!-- Sidebar -->
  <div class="sidebar">
    <div>
      <div class="logo">U OF T ARCHEOLOGY<hr></div>
      
      <a href="{% url 'home' %}" class="current-page"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
      <a href="{% url 'sites' %}"><i class="fas fa-map"></i>Sites</a>
      <a href="#"><i class="fas fa-layer-group"></i>Areas</a>
      <a href="#"><i class="fas fa-archive"></i>Artifacts</a>
      <a href="#"><i class="fas fa-user"></i>Profile</a>
    </div>
    <div>
      <div class="help">Need Help?</div>
      <div class="footer">&copy; 2024 UofT Department of Anthropology</div>
    </div>
  </div> 

  <!-- Main Content -->
  <div class="main-content">
    <h2>Dashboard</h2>
    <!-- Content -->
    <div class="stats-container"> 
      <div class="stats">
        <div class="stat-card">
          <div class="stat-values">
            <h3>Total Sites</h3>
            <h1>123</h1>
          </div>
          <i class="fas fa-map"></i>
        </div>
        <div class="stat-card">
          <div class="stat-values">
            <h3>Total Areas</h3>
            <h1>45</h1>
          </div>
          <i class="fas fa-layer-group"></i>
        </div>
        <div class="stat-card">
          <div class="stat-values">
            <h3>Total Artifacts</h3>
            <h1>678</h1>
          </div>
          <i class="fas fa-archive"></i>
        </div>
      </div>
    </div> 

    <!-- New Container for Additional Information -->
    <div class="info-container">
      <div class="info-card">
        <div class="stat-values">
          <h3>Artifact of the Day</h3>
          <p>Artifact Name: Ancient Vase</p>
          <p>Description: A beautifully crafted vase from the 5th century BC.</p>
          <p>Location: Greece</p>
        </div>
        <div class="artifact-photo">
          <img src="{% static 'images/ancient_vase.jpeg' %}" alt="Ancient Vase" class="resized-image">
        </div>
      </div>

      <div class="info-card">
        <div class="stat-values">
          <h3>Recent Activity</h3>
          <p>Added a new site - 2 hours ago</p>
          <p>Added a new area - 3 hours ago</p>
          <p>Added a new artifact - 4 hours ago</p>
        </div>
      </div>
    </div>

    <div class="info-container">
      <div class="info-card">
        <div class="stat-values">
          <h3>Documentation</h3>
          <p>Welcome to the U of T Archeology Dashboard! This is where you can view and manage all the sites, areas, and artifacts in the system. Use the sidebar to navigate to different sections of the dashboard. You can add new sites, areas, and artifacts, as well as view and edit existing data. If you need help, click on the "Need Help?" section in the sidebar. For more information, please refer to the user manual.</p>
          <a href="#">User Manual</a>
        </div>
      </div>
    </div>
  </div>

</body>